.footer{

background:
radial-gradient(circle at top left,#6A0DAD,transparent 35%),
radial-gradient(circle at bottom right,#FF7A00,transparent 30%),
linear-gradient(135deg,#343232,#6e6a73);

color:#B0B0B0;

padding:40px 20px;

border-top:3px solid #FF7A00;

}



.footer-container{

display:flex;

justify-content:space-between;

gap:30px;

}


.footer-brand h2{

color:#FF7A00;

font-size:32px;

}


.footer-brand span{

color:#6A0DAD;

}

.footer-logo {
  width: 150px;
  margin-bottom: 20px;
  align-self: flex-start;
  margin-right: 80px;
}




.footer-links{

display:flex;

gap:50px;

}


.footer-section{

display:flex;

flex-direction:column;

gap:10px;

}


.footer-section h3{

color:#FF7A00;

}


.footer-section a{

color:#B0B0B0;

text-decoration:none;

}


.footer-section a:hover{

color:#0FFFC1;

}



.icons{

display:flex;

gap:15px;

}


.icon{

font-size:28px;

color:#6A0DAD;

transition:.3s;

}


.icon:hover{

color:#FF7A00;

transform:scale(1.15);

}



.footer-bottom{

margin-top:30px;

text-align:center;

border-top:1px solid #B0B0B0;

padding-top:15px;

}






/* SM - celulares */
@media(max-width:576px){

.footer-container{

flex-direction:column;

text-align:center;

}


.footer-links{

flex-direction:column;

gap:25px;

}


.icons{

justify-content:center;

}


.footer-brand h2{

font-size:26px;

}

}






/* MD - tablets */
@media(min-width:577px) and (max-width:992px){

.footer-container{

flex-direction:column;

align-items:center;

}


.footer-links{

width:100%;

justify-content:center;

}


}





/* LG - escritorio */
@media(min-width:993px){


.footer-container{

max-width:1200px;

margin:auto;

}


}