:root {
  --color-primary: #ff7a00;

  --color-secondary: #6a0dad;

  --color-tertiary-dark: #343232;

  --color-tertiary-medium: #b0b0b0;

  --color-tertiary-light: #6e6a73;
  --color-form-imput: rgba(52, 50, 50, 0.9) --color-success: #0fffc1;

  --color-error: #f32213;

  --color-info: #09ebef;

  --color-warning: #ebe70e;

  --color-text-primary: #fffdfd;

  --color-text-secondary: #ff00b6;

  --color-text-tertiary: #6095c4;

  --font-heading: "Montserrat", sans-serif;

  --font-body: "Inter", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url("../assets/img-form.png");

  background-size: cover;

  background-position: center;

  background-repeat: no-repeat;

  background-attachment: fixed;

  min-height: 100vh;
}
.form-card {
  max-width: 600px;

  margin: auto;

  background: var(--color-tertiary-dark);

  padding: 40px;

  border-radius: 40px;

  border: 1px solid var(--color-tertiary-dark);
  box-shadow: 0 0 15px rgba(255, 122, 0, 0.35);
}
.main-form {
  margin-top: 200px;
  margin-bottom: 100px;
}

.titulo {
  font-size: 3rem;
  font-weight: 800;

  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-label {
  color: var(--color-text-primary);
  font-weight: 600;
}

.form-control,
.form-select {
  background-color: rgba(52, 50, 50, 0.9);
  color: white;
  border: 1px solid var(--color-secondary);
}
.form-control::placeholder {
  color: var(--color-tertiary-medium);
}

.form-select option {
  background-color: var(--color-tertiary-dark);
  color: white;
}

.form-control:focus,
.form-select:focus {
  background: transparent;

  color: white;

  border-color: var(--color-secondary);

  box-shadow: none;
}

.btn-register {
  background: linear-gradient(
    90deg,
    var(--color-primary),
    var(--color-secondary)
  );

  border: none;

  color: white;

  padding: 14px;

  font-weight: 700;
}

.btn-register:hover {
  transform: translateY(-2px);

  transition: 0.3s;
}
.form-check-label {
  color: white;
}
.forgot-password {
  color: var(--color-secondary);
  text-decoration: none;
}

.forgot-password:hover {
  color: var(--color-primary);
}
.login-link {
  color: white;
}

.login-link a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 600;
}

.login-link a:hover {
  color: var(--color-secondary);
}
@media (max-width: 768px) {
  .main-form {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  .form-card {
    padding: 25px;
  }

  .titulo {
    font-size: 2rem;
  }
}
