
/* ===== NAVBAR ===== */
.navbar {
  background: linear-gradient(
    90deg,
    var(--color-tertiary-dark),
    var(--color-background)
  );
  backdrop-filter: blur(12px);
  border-bottom: 1px solid var(--color-secondary);
  box-shadow:
    0 0 20px var(--color-shadow-primary-soft);
  padding: 1rem 0;
}
.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 0.5rem;
}
.navbar-brand {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
}
.nav-link {
  transition: 0.3s;
  position: relative;
  color: var(--color-light);
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  background: var(--color-primary);
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--color-primary);
}
.nav-link:hover::after {
  width: 100%;
}
.form-control {
  background: var(--color-background);
  border: 1px solid var(--color-secondary);
  color: var(--color-light);
  transition: 0.3s;
}
.form-control:hover {
  background: var(--color-tertiary-dark);
  color: var(--color-light);
  border-color: var(--color-primary);
  box-shadow: 0 0 15px var(--color-primary);
}
.form-control:focus {
  background-color: var(--color-background);

  color: var(--color-light);

  border-color: var(--color-primary);

  box-shadow: 0 0 15px var(--color-primary);

  outline: none;
}
.form-control::placeholder {
  color: var(--color-tertiary-medium);
  opacity: 1;
}
.navbar-toggler {
  border-color: var(--color-primary);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgb(255, 122, 0)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem var(--color-primary);
}
