/* ===== NAVBAR ===== */
.navbar {
  background: linear-gradient(
    90deg,
    rgba(15, 15, 20, 0.95),
    rgba(28, 28, 35, 0.95)
  );
  backdrop-filter: blur(12px);
  border-bottom: 1px solid rgba(255, 122, 0, 0.25);
  box-shadow:
    0 10px 30px rgba(0, 0, 0, 0.5),
    0 0 20px rgba(255, 122, 0, 0.1);
  padding: 1rem 0;
}
.logo {
  width: 70px;
  height: 70px;
  object-fit: contain;
  margin-right: 0.5rem;
}
.navbar-brand {
  font-family: var(--font-heading);
  font-size: 2rem;
  font-weight: 700;
}
.nav-link {
  color: var(--color-text-primary);
  transition: 0.3s;
  position: relative;
}
.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 2px;
  background: var(--color-primary);
  transition: 0.3s;
}
.nav-link:hover {
  color: var(--color-primary);
}
.nav-link:hover::after {
  width: 100%;
}
.form-control {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid var(--color-secondary);
  color: white;
  transition: 0.3s;
}
.form-control:hover {
  background: rgba(255, 255, 255, 0.08);
  color: white;
  border-color: var(--color-primary);
  box-shadow: 0 0 15px rgba(255, 122, 0, 0.35);
}
.form-control:focus {
  background-color: rgba(255, 255, 255, 0.05);

  color: white;

  border-color: var(--color-primary);

  box-shadow: 0 0 15px rgba(255, 122, 0, 0.35);

  outline: none;
}
.form-control::placeholder {
  color: var(--color-tertiary-medium);
  opacity: 1;
}
.btn-buscar {
  background-color: var(--color-primary);
  color: var(--color-text-primary);
  font-family: var(--font-body);
  font-weight: 600;
  border: none;
  transition: 0.3s;
}
.btn-buscar:hover {
  background-color: var(--color-secondary);
  color: var(--color-text-primary);
}
.btn-ingresar {
  background: transparent;

  border: 2px solid var(--color-secondary);

  color: var(--color-text-primary);

  font-weight: 600;

  transition: 0.3s;

  box-shadow: 0 0 10px rgba(106, 13, 173, 0.25);
}

.btn-ingresar:hover {
  background-color: var(--color-secondary);
  color: white;
  transform: translate(-2px);
  box-shadow: 0 0 20px rgba(106, 13, 173, 0.6);
}
.btn-suscribirse {
  background: var(--color-primary);

  border: 2px solid var(--color-primary);

  color: white;

  font-weight: 600;

  transition: 0.3s;

  box-shadow: 0 0 15px rgba(255, 122, 0, 0.35);
}

.btn-suscribirse:hover {
  transform: translateY(-2px);

  box-shadow: 0 0 25px rgba(255, 122, 0, 0.75);

  color: white;
}

.navbar-toggler {
  border-color: var(--color-primary);
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(255, 122, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler:focus {
  box-shadow: 0 0 0 0.2rem rgba(255, 122, 0, 0.25);
}