:root{

--color-primary:#FF7A00;
--color-secondary:#6A0DAD;
--color-tertiary:#343232;
--color-gray:#B0B0B0;
--color-shadow:#6e6a73;

}


.contacto{

background: linear-gradient(
135deg,
var(--color-tertiary),
#1b1b1b
);

padding:60px 20px;

color:white;

}



.titulo-contacto{

text-align:center;

margin-bottom:40px;

}


.titulo-contacto h2{

font-size:40px;

color:var(--color-primary);

}



.titulo-contacto p{

color:var(--color-gray);

}



.contacto-contenido{

display:flex;

justify-content:center;

gap:40px;

flex-wrap:wrap;

}



.formulario{

background:#222;

padding:30px;

border-radius:20px;

box-shadow:0 0 20px var(--color-shadow);

width:350px;

}



.formulario label{

display:block;

margin-top:15px;

color:#fff;

}




.formulario textarea{


width:100%;

padding:12px;

margin-top:8px;

border:none;

border-radius:10px;

background:#343232;

color:white;

}



.formulario textarea{

height:120px;

resize:none;

}



.formulario button{


margin-top:20px;

width:100%;

padding:12px;

border:none;

border-radius:20px;

background:var(--color-primary);

color:white;

font-size:16px;

cursor:pointer;

transition:.3s;

}



.formulario button:hover{

background:var(--color-secondary);

}



.info-contacto{


background:linear-gradient(
145deg,
#6A0DAD,
#343232
);

padding:30px;

border-radius:20px;

width:300px;

height:max-content;

box-shadow:0 0 20px #000;


}



.info-contacto h3{

color:#FF7A00;

font-size:30px;

}


.info-contacto p{

color:white;

margin:20px 0;

}



/* SM */

@media(max-width:576px){

.contacto-contenido{

flex-direction:column;

align-items:center;

}


.formulario,
.info-contacto{

width:90%;

}

}


/* MD */

@media(min-width:768px){

.contacto-contenido{

flex-direction:row;

}

}



/* LG */

@media(min-width:992px){

.contacto{

padding:90px;

}

}